body {
  font-family: Arial, sans-serif;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 20px 10px;
}

#container {
  font-size: 6rem;       
  font-weight: bold;     
  color: white;          
  background-color: black; 
  padding: 20px 40px;    
  display: inline-block; 
  border-radius: 15px;   
  transition: background-color 0.5s ease; 
  margin-top: 1em;
}

hr.separator {
  width: 60%;
  height: 4px;
  background-color: #333;
  border: none;
  margin: 40px auto 40px auto;
  border-radius: 2px;
}

#duration {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  color: black;
}


h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 12px;
}

label {
  display: block;
  margin: 10px auto 6px;
  font-weight: bold;
  max-width: 300px;
  color: #555;
  font-family: Arial, sans-serif;
  font-size: 0.6em;
}

input[type="number"] {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 12px;
  padding: 10px;
  font-size: 1.1rem;
  border: 2px solid #007bff;
  border-radius: 6px;
  box-sizing: border-box;
  color: black;
}


button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 12px;
  padding: 12px;
  background-color: #28a745;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

button:hover {
  background-color: #218838;
}

#saveStatus {
  max-width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #444;
  min-height: 1.5em; /* Platzhalterhöhe */
  text-align: center;
}

.information {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

#batteryVoltageContainer{
  background-color: black; 
  padding: 5px 20px;    
  display: inline-block; 
  border-radius: 15px;   
  transition: background-color 0.5s ease;
}

@keyframes glow {
  0% { color: #00ffcc; text-shadow: 0 0 5px #00ffcc; }
  50% { color: #ffffff; text-shadow: 0 0 10px #00ffcc; }
  100% { color: #00ffcc; text-shadow: 0 0 5px #00ffcc; }
}

#footer {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  font-size: 1.7rem;
  color: #ccc;
  background: rgba(255, 255, 255, 0.05);
  font-family: 'Arial', sans-serif;
  border-radius: 12px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

#footer .name {
  font-weight: bold;
  color: #00ffcc;
  animation: glow 2s infinite;
  animation-delay: var(--delay);
  display: inline-block;
}

